body {
    font-family: Arial;
    text-align: center;
    background: #f4f7ff;
}

h1 {
    color: #2c3e50;
}

button {
    padding: 10px;
    margin: 5px;
    background: #4f46e5;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #3730a3;
}

table {
    width: 90%;
    margin: auto;
    border-collapse: collapse;
    background: white;
}

th {
    background: #4f46e5;
    color: white;
    padding: 10px;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

input {
    padding: 10px;
    margin: 5px;
}
